/* Table - Product Image  */

.product-name-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-name-img {
  width: 60%;
}

/* Table - number of item */

.change-numberof-item-ip {
  border: none;
  width: 50px;
  text-align: center;
  margin: 0px 3px;
}

.change-quantity-btn {
  border: none;
  width: 30px;
}

.remove-item-btn {
  background-color: #bb6464;
  color: #fff;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}