/* Product */

.main-container {
  margin-top: 66px;
  background-color: #a5b593;
}

.product-list-container {
  padding-bottom: 50px;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 20px #fff;
  background-color: rgb(255, 255, 255);
}

.filter {
  display: flex;
}

.filter-btn button {
  border: none;
  background-color: yellowgreen;
  width: 60px;
  height: 27px;
  font-size: 1.5em;
  margin-left: 10px;
}

.product-list-row {
  border-top: 1px solid var(--primary-color);
}