/* Cart */

.cart-page {
  /* padding-bottom: 150px; */
  margin-top: 66px;
  min-height: calc(100% - 90px - 66px);
}

/* Back home  */

.back-home-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 52px;
  border-bottom: 1px solid var(--primary-color);
}

.back-home-link {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px;
  margin-left: 50px;
}

/* Title Cart List */

.title-cart-list {
  margin-top: 12px;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: var(--primary-color);
}

/* Table */

.product-list {
  position: relative;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5em;
}

tr, td, th {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #84ad77;
}

/* Table checkout */

.checkout-btn {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  margin-top: 15px;
  padding: 10px 15px;
  top: 100%;
  right: 10px;
  border: none;
}