/* Product */
.main-container {
  background-color: aliceblue;
}

.product-list-container {
  padding-bottom: 50px;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 20px #fff;
  background-color: rgb(255, 255, 255);
}

.product-list-row {
  border-top: 1px solid var(--primary-color);
}

.product {
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

.product:nth-child(4n + 1) {
  border-left: 1px solid var(--primary-color);
}

.product-container {
  margin: 20px 0px;
}

.product-img {
  margin: 0px;
  display: flex;
  justify-content: center;
}

.product-name {
  font-size: 2.1em;
  text-align: center;
}

.product-price {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid orange;
  border-radius: 10px;
}

.product-add-to-cart {
  display: flex;
}

.product-add-to-cart-btn {
  border: none;
  padding: 3px 20px;
  margin: 0px auto;
  background-color: yellowgreen;
  text-align: center;
  font-size: 1.5em;
  border-radius: 10px;
}
