/* Login page */

.login-page {
  /* 100% screen - height of header and footer */
  min-height: calc(100vh - 90px - 66px);
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5b593;
}

.input-name-lb {
  font-size: 1.3em;
  margin: 0px 0px 10px 0px;
}
/* Error */

.has-not-account {
  margin: 10px 0px 15px;
  color: rgb(49, 43, 131);
  text-decoration: none;
  font-size: 12px;
}

/* forgot password*/

.forgot-pw {
  display: block;
  color: #802639;
  font-size: 1.1em;
  margin-bottom: 10px;
}
