/* Signup page */

.signup-page {
  /* 100% screen - height of header and footer */
  min-height: calc(100vh - 90px - 66px);
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5b593;
}

.avt-ip {
  margin-bottom: 15px;
}
